{% extends "layout.html" %}

{% block title %}About | Cats on Skis{% endblock %}

{% block content %}
<section class="section">
  <div class="container">

    <div class="card mb-5">
      <div class="card-content">
        <h3 class="title is-4">About Cats on Skis</h3>
        <p class="content">
          We love Cats on Skis! This is the absolute best place to find information about cats on skis.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="title is-4">Your Authors</h3>
        <p class="content mb-3">Slalom Sammy</p>
        <figure class="image">
          <img src="{{ url_for('images', image='slalom-sammy') }}" alt="Slalom Sammy" style="max-width: 100%; height: auto;">
        </figure>
      </div>
    </div>

  </div>
</section>
{% endblock %}
