{% extends "layout.html" %}

{% block title %}{{ page_name if page_name else "Cats on Skis" }}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-3">{{ page_name if page_name else "Welcome to the Wiki!" }}</h1>
        <p class="content">
          {% if page_content %}
            {{ page_content | safe }}
          {% else %}
            This is the best place to learn about skiing cats 🐱⛷️.
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}