{% extends "layout.html" %}

{% block title %}Pages | Cats on Skis{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h3 class="title is-4">Pages in this Wiki</h3>
        <ul>
          {% for page in all_pages %}
            <li class="mb-2">
              <a class="has-text-link" href="{{ url_for('pages', name=page) }}">
                📝 {{ page.replace('-', ' ').title() }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
